/* Custom color theme properties */
/* Color Scheme */
/* 5ea9d0 Carolina blue lightest
   1481ba Star command blue light
   2d61b0 Denim blue main
   4641a5 Ocean blue pastel/purpleish
   254477 Dark cornflower blue shade

*/
:root {
  --f7-theme-color: #2d61b0;
  --f7-theme-color-rgb: 23, 145, 0;
  --f7-theme-color-shade: #254477;
  --f7-theme-color-tint: #1481ba;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  /* --f7-bars-bg-color: var(--f7-theme-color); */
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255, 255, 255, 0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255, 255, 255, 0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
  --f7-button-hover-bg-color: #1481ba;
  --f7-button-text-color: white;

  --f7-card-margin-horizontal: 5%;
  /* --f7-card-margin-vertical: 16px; */
  --f7-card-content-padding-horizontal: 5%;
  /* --f7-card-content-padding-vertical: 50px; */
}
p {
  font-size: 14pt;
}
.appbar,
.page {
  height: 100%;
}
.col {
}
.card {
  /* min-width: 50%; */
}
.cardcontent {
  /* position: absolute;
  margin-left: 50%;
  width: 100%;
  height: 100%; */
}
.center {
  display: flex;
  justify-content: center;
  text-align: center;
}
.button {
  font-size: 10pt;
}
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-link-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: #5ea9d0;
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 23;
  --g: 145;
  --b: 0;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}
.page-content {
  padding: 0px 0px 0px;
}
/* Your app custom styles here */
.menuitem {
  background: rgb(57, 57, 57);
}
.aurora {
  --f7-menu-dropdown-hover-bg-color: rgba(255, 255, 255, 0.975);
  --f7-menu-bg-color: rgba(18, 0, 176, 0.9);
}
#nameLogo {
  /* height: 100%;
  width: 25%; */
}
.home {
  --f7-button-bg-color: #2d61b0;
  --f7-button-hover-bg-color: #1481ba;
  --f7-button-pressed-bg-color: #5ea9d0;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#bioPic {
  /* position: relative; */
  width: 100%;
  height: 100%;
  max-width: 469px;
  max-height: 353px;
  min-width: 405px;
  min-height: 305px;
  margin-top: 10%;

  border: solid 1px #2d61b0;
  border-radius: 10px;
  /* margin: 0px 50% 20px; */
}
#welcomeP {
  margin-top: 10%;
}
#skillGauge {
  display: flex;
  float: center;
  margin-bottom: 60px;
}
#hrLine {
  display: flex;
  float: center;
}
.resBtn {
  margin: 20px;
  min-width: 160px;
  max-width: 160px;
}
#resumeSec {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.secTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.card-header {
  display: block;
  height: 6vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.projCard {
  width: 35%;
  height: 200px;
}
.card-content-padding {
  overflow-y: scroll;
}
